@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', 'Work Sans', sans-serif;
}

body{
    background-color: rgb(45, 45, 45);
    color: rgb(190, 190, 190);
    text-align: center;
    margin-bottom: 100px;
}

h2{
    font-family: 'Work Sans', sans-serif; 
}

p{
    line-height: 2;
}

footer{
    background-color: dimgrey;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    color: white;
    width: 100%;
    text-align: center;
    margin: 10px auto;
    padding: 0;
}

a{
    color: whitesmoke;
}

/* -------------------- */
/* Paragraphing */

.center-paragraph{
    font-family: 'Roboto', sans-serif;
    width: 50%;
    margin: 5px auto;
    padding: 40px 50px;
    line-height: 1.75;
    color: white;
    text-align: justify;
    background-color: rgb(60, 60, 60);
}

.text-center{
    text-align: center;
}

.left{
    float: left;
    margin: 30px;
}

.subHeader{
    font-size: 28px;
    margin: 0;
    line-height: .5;
    text-decoration: none;
}

.subHeaderContrast{
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.underline{
    text-decoration: underline;
}

.rightAlign{
    float: right;
}

/* --------------- */
/* Header class things */

h1.mainTitle{
    display: block;
    text-align: center;
    left: -60px;
    padding: 15px 26px 6px 9px;
    font-size: 50px;    
    font-family: 'Work Sans', 'Montserrat', sans-serif;
    margin: 15px auto 0;  
    text-transform: uppercase; 
    background-color: dimgray;
    height: auto;
    color: whitesmoke;
    width: 100%;
}

h2.mainTitle{
    text-align: center;
    font-size: 24px;    
    font-family: 'Work Sans', 'Montserrat', sans-serif;
    margin: 3px;
}

h2.subTitle{
    color: white;
    text-align: center;
    font-size: 28px;    
    font-family: 'Work Sans', 'Montserrat', sans-serif;
    margin: 20px auto;
    padding: 3px auto;
    vertical-align: middle;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: auto;
    max-width: 60%;
    letter-spacing: 2px;
}

h3.subTitle{
    color: white;
    text-align: center;
    font-size: 24px;    
    font-family: 'Work Sans', 'Montserrat', sans-serif;
    margin: 20px auto;
    padding: 3px auto;
    vertical-align: middle;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: auto;
    max-width: 60%;
    letter-spacing: 2px;
}

h2.subTitle-center{
    color: white;
    text-align: center;
    font-size: 28px;    
    font-family: 'Work Sans', 'Montserrat', sans-serif;
    margin: 20px auto;
    padding: 3px auto;
    vertical-align: middle;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: auto;
    max-width: 50%;
    letter-spacing: 2px;
}

h3.subTitle-center{
    color: white;
    text-align: center;
    font-size: 24px;    
    font-family: 'Work Sans', 'Montserrat', sans-serif;
    margin: 20px auto;
    padding: 3px auto;
    vertical-align: middle;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: auto;
    max-width: 50%;
    letter-spacing: 2px;
}
/*------------------------------------------------------*/

/* img stuff */
img.logo{   
    vertical-align: middle;
    width: 60px;
    margin: 5px;
    padding: 0 0 8px 0;
}

a.logo{
    text-decoration: none;
}

.center-img{
    text-align: center;
    display: block;
    font-family: 'Roboto', sans-serif;
    width: 50%;
    margin: 5px auto;
    padding: 40px;
    line-height: 2;
    color: white;
    background-color: rgb(60, 60, 60);
}

.img{
    width: 100%;
    border: 2px solid black;
}

/* ------------------------------------------------------------------------------------------ */
/* Navbar classes */

.navbar{
    display: inline-block;
    text-align: center;
    background-color: dimgray;
    width: 100%;
    margin: 12px auto;
    margin-top: 10px;
}

.navbar-banner{
    padding: 3px;
    margin: 5px 3px;
    position: sticky;
}

.navbar-content{
    display: inline-block;
    margin: 1px 20px;
    position: sticky;
}

.navbar-content > a{
    text-decoration: none;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    color: whitesmoke;
    padding: 7px 10px;
}

.navbar-content > a:hover{
    border-bottom: 2px solid black;
}

/*
.dropdown{
    position: absolute;
    display: none;
    background-color: gray;
    margin: 8px 11px;
    padding: 7px 10px;
}

.dropdown-content{
    display: none;
}

dropdown:hover{
    display: block;
}

dropdown:hover .dropdown-content{
    display: block;
    position: relative;
    color: whitesmoke;
    text-align: center;
}
*/