/* Contains the search bar/page styling options */

/* Style the search box */
#searchbar {
    width: 60%;
    margin: 5px;
    font-size: 18px;
    padding: 11px;
  }
  
  /* Style the navigation menu */
  #results {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Style the navigation links */
  #results li a {
    padding: 7px 10px;
    text-decoration: none;
    color: white;
    width: 60%;
    display: inline-block;
  }
  
  #results li a:hover {
    border-bottom: 2px solid black;
  }